*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    overflow-y: auto;
    overflow-x: hidden;
}
header{
    position:relative;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 33px 9%;
    background: transparent;
    border-bottom: 2px solid burlywood;
    background: rgb(10, 88, 151);
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;

}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid rgb(197, 165, 228);
}

#Menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#2193b0, #6dd5ed);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section{
    padding: 0 19%;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}
.hero-text h1{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-style: italic;
    color: white;
    line-height: 1;
    margin: 0 0 45px;
}
.hero-text p{
    color: black;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0; 
    margin-bottom: 20px;
    border: 2px solid #000;
    transition: all 0.3s ease-in-out;
}
.hero-img img:hover{
    border-color: #00F;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    transform: scale(1.1);
}
@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
}
footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: rgb(10, 88, 151);
    color: white;
    position: fixed;
    bottom: 0;
}
